<script type='text/javascript' src='/js/AjaxNav.js'></script>
<div class='section'>Menu</div>
<div class='listing'>&gt; <a href='/index.xht' onclick='LoadPage("/index.xht");return false;'>Home</a></div>
<div class='listing'>&gt; <a href='/tools/index.htm' onclick='LoadPage("/tools/index.htm");return false;'>Tools</a></div>
<div class='listing'>&gt; <a href='/js/index.xht' onclick='LoadPage("/js/index.xht");return false;'>JS</a></div>
<div class='listing'>&gt; <a href='/classical_chinese/index.htm' onclick='LoadPage("/classical_chinese/index.htm");return false;'>Classical Chinese</a></div>
